body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-box {
    background-color: #ececec;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 300px;
}

.centered-box h2 {
    margin-top: 0;
}

.centered-box p {
    margin-bottom: 0;
}
